.Header-Tab {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.Header-Text {
  color: white;
  size: 40px;
}

.FileExplorerWindow {
  min-width: max-content;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.FileExplorerBox {
  border: 1px solid white;
  width: 30%;
  height: 50vh;
  margin-top: 10vh;
}

.icon {
  align-self: center;
  color: white;
}

.icon:hover {
  cursor: pointer;
}

.FileExplorerBoxHeader {
  padding: 15px;
  width: 100% - 10px;
  height: 5%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.FileExplorerBoxFooter {
  padding: 10px;
  max-height: 95%;
}

.FileName {
  display: flex;
  justify-content: space-between;
}

.SubFile {
  display: flex;
  justify-content: flex-start;
}

.SubFile:hover {
  cursor: pointer;
}

.FileExplorerContent {
  display: flex;
  justify-content: space-between;
}

.EditFileIcon {
  align-self: center;
}

.FileCardLeftSection {
  display: flex;
  justify-content: flex-start;
}

.FileCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.text {
  color: white;
  align-self: center;
  font-size: 15px;
  margin-left: 5px;
}

.text:hover {
  color: rgb(101, 255, 219);
}

@media screen and (max-width: 576px) {
  .FileExplorerBox {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .FileExplorerBox {
    width: 60vw;
  }
}
