.Header-Tab {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.Header-Text {
  color: white;
  size: 40px;
}

.FileExplorerWindow {
  min-width: max-content;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.FileExplorerBox {
  border: 1px solid black;
  width: 50%;
  height: 50%;
  margin-top: 10vh;
}
